@charset "UTF-8";

:root {
  --blue: #20a8d8;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #f86c6b;
  --orange: #f8cb00;
  --yellow: #ffc107;
  --green: #4dbd74;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #73818f;
  --gray-dark: #2f353a;
  --light-blue: #63c2de;
  --primary: #20a8d8;
  --secondary: #c8ced3;
  --success: #4dbd74;
  --info: #63c2de;
  --warning: #ffc107;
  --danger: #f86c6b;
  --light: #f0f3f5;
  --dark: #2f353a;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.orderDetails {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2e2e2e;
  text-align: left;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main{
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #23282c;
  text-align: left;
  background-color: #e4e5e6;
}
.app,
app-dashboard,
app-root {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
@media (min-width: 992px) {
  .header-fixed .app-header {
    position: fixed;
    z-index: 1020;
    width: 100%;
  }
  .header-fixed .app-body {
    margin-top: 55px;
  }
  .sidebar-fixed .sidebar {
    position: fixed;
    z-index: 1019;
    width: 200px;
    height: 100vh;
  }
  .sidebar-fixed .app-header + .app-body .sidebar {
    height: calc(100vh - 55px);
  }
  .aside-menu-fixed .aside-menu {
    position: fixed;
    height: 100%;
  }
  .aside-menu-fixed .aside-menu .tab-content {
    height: calc(100vh - 2.375rem - 55px);
  }
  .aside-menu-fixed .app-header + .app-body .aside-menu {
    height: calc(100vh - 55px);
  }
  html:not([dir="rtl"]) .aside-menu-fixed .aside-menu,
  html:not([dir="rtl"]) .aside-menu-off-canvas .aside-menu {
    right: 0;
  }
  html[dir="rtl"] .aside-menu-fixed .aside-menu,
  html[dir="rtl"] .aside-menu-off-canvas .aside-menu {
    left: 0;
  }
}
@media (min-width: 992px) {
  html:not([dir="rtl"]) .sidebar-lg-show .sidebar,
  html:not([dir="rtl"]) .sidebar-show .sidebar {
    margin-left: 0;
  }
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 150px;
    margin-right: 150px;
  }
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .main,
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .app-footer,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-left: 150px;
  }
}
@media (min-width: 992px) and (max-width: 991.98px) {
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main,
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-left: 200px;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main,
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-left: 50px;
  }
}
@media (min-width: 992px) {
  html:not([dir="rtl"]) .sidebar-lg-show.breadcrumb-fixed .breadcrumb,
  html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed .breadcrumb {
    left: 200px;
  }
  html:not([dir="rtl"]) .sidebar-lg-show.breadcrumb-fixed.sidebar-compact .breadcrumb,
  html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    left: 150px;
  }
  html:not([dir="rtl"]) .sidebar-lg-show.breadcrumb-fixed.sidebar-minimized .breadcrumb,
  html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    left: 50px;
  }
  html:not([dir="rtl"]) .aside-menu-show .aside-menu,
  html:not([dir="rtl"]) .aside-menu-lg-show .aside-menu {
    margin-right: 0;
  }
  html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main,
  html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer,
  html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .main,
  html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .app-footer {
    margin-right: 250px;
  }
  html:not([dir="rtl"]) .aside-menu-show.breadcrumb-fixed .breadcrumb,
  html:not([dir="rtl"]) .aside-menu-lg-show.breadcrumb-fixed .breadcrumb {
    right: 250px;
  }
  html[dir="rtl"] .sidebar-lg-show .sidebar,
  html[dir="rtl"] .sidebar-show .sidebar {
    margin-right: 0;
  }
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed .main,
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed .app-footer,
  html[dir="rtl"] .sidebar-show.sidebar-fixed .main,
  html[dir="rtl"] .sidebar-show.sidebar-fixed .app-footer {
    margin-right: 200px;
  }
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-compact .main,
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-compact .app-footer,
  html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .main,
  html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-right: 150px;
  }
}

@media (min-width: 992px) and (max-width: 991.98px) {
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main,
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer,
  html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-right: 200px;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main,
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer,
  html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-right: 50px;
  }
}

@media (min-width: 992px) {
  html[dir="rtl"] .sidebar-lg-show.breadcrumb-fixed .breadcrumb,
  html[dir="rtl"] .sidebar-show.breadcrumb-fixed .breadcrumb {
    right: 200px;
  }
  html[dir="rtl"] .sidebar-lg-show.breadcrumb-fixed.sidebar-compact .breadcrumb,
  html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    right: 150px;
  }
  html[dir="rtl"] .sidebar-lg-show.breadcrumb-fixed.sidebar-minimized .breadcrumb,
  html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    right: 50px;
  }
  html[dir="rtl"] .aside-menu-show .aside-menu,
  html[dir="rtl"] .aside-menu-lg-show .aside-menu {
    margin-left: 0;
  }
  html[dir="rtl"] .aside-menu-show.aside-menu-fixed .main,
  html[dir="rtl"] .aside-menu-show.aside-menu-fixed .app-footer,
  html[dir="rtl"] .aside-menu-lg-show.aside-menu-fixed .main,
  html[dir="rtl"] .aside-menu-lg-show.aside-menu-fixed .app-footer {
    margin-left: 250px;
  }
  html[dir="rtl"] .aside-menu-show.breadcrumb-fixed .breadcrumb,
  html[dir="rtl"] .aside-menu-lg-show.breadcrumb-fixed .breadcrumb {
    left: 250px;
  }
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.main .container-fluid {
  padding: 0 30px;
}
.breadcrumb-fixed .main {
  padding-top: 3.875rem;
}
.app-body .main {
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}
@media (max-width: 575.98px) {
  .sidebar-show .main,
  .aside-menu-show .main {
    position: relative;
  }
  .sidebar-show .main::before,
  .aside-menu-show .main::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1018;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    -webkit-animation: opacity 0.25s;
    animation: opacity 0.25s;
  }
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-sm-6,
.col-md-12
 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #c8ced3;
  border-radius: 0.25rem;
}
.card {
  margin-bottom: 1.5rem;
}
.card.drag,
.card .drag {
  cursor: move;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f0f3f5;
  border-bottom: 1px solid #c8ced3;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}
.card-header > i {
  margin-right: 0.5rem;
}
.card-header .nav-tabs {
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
  border-bottom: 0;
}

.card-header .nav-tabs .nav-item {
  border-top: 0;
}

.card-header .nav-tabs .nav-link {
  padding: 0.75rem 0.625rem;
  color: #73818f;
  border-top: 0;
}

.card-header .nav-tabs .nav-link.active {
  color: #23282c;
  background: #fff;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
@media (min-width: 576px) {
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #23282c;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #c8ced3;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #c8ced3;
}

.table tbody + tbody {
  border-top: 2px solid #c8ced3;
}
@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}
.table-hover tbody tr:hover {
  color: #23282c;
  background-color: rgba(0, 0, 0, 0.075);
}
.table-outline {
  border: 1px solid #c8ced3;
}

.table-outline td {
  vertical-align: middle;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.text-center {
  text-align: center !important;
}
.avatar {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
}

.avatar .avatar-status {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50em;
}

.avatar > img {
  vertical-align: initial;
}
.avatars-stack .avatar {
  margin-right: -18px;
  transition: margin-right 0.25s;
}

.avatars-stack .avatar:hover {
  margin-right: 0;
}
.img-avatar, .avatar > img,
.img-circle {
  max-width: 100%;
  height: auto;
  border-radius: 50em;
}
.app-header .nav-item .nav-link > .img-avatar, .app-header .nav-item .avatar.nav-link > img {
  height: 35px;
  margin: 0 10px;
}
.img-avatar, .avatar > img,
.img-circle {
  max-width: 100%;
  height: auto;
  border-radius: 50em;
}
small,
.small {
  font-size: 80%;
  font-weight: 400;
}
.text-muted {
  color: #73818f !important;
}
.text-white .text-muted {
  color: rgba(255, 255, 255, 0.6) !important;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
thead {
    display: table-header-group;
  }
@media print {
.table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
.table .thead-dark th {
    color: inherit;
    border-color: #c8ced3;
  }
}
