@media only screen and (max-width: 420px) {
    .product__nav a {
      padding: 0 18px; } 
      .product__info__main .product-addto-links a.compare, .product__info__main .product-addto-links a.wishlist {
        display: none;
      }
  }

  .product__info__main h1 {
    color: #333;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.42857;
    margin: 0 0 3px;
    font-family: 'Trocchi';
  }

  .product__info__main h6 {
    color: #333;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.42857;
    margin: 0 0 3px;
    font-family: 'Trocchi';
  }

  .product_meta p {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.42857;
    margin: 0 0 3px;
    font-family: 'Trocchi';
  }

  .product__info__main .product-info-stock-sku p {
    color: #616161;
    display: inline-block;
    font-size: 14px;
    text-transform: capitalize; }
    .product__info__main .product-info-stock-sku p span {
      color: #e59285; }
    .product__info__main .product-info-stock-sku p + p {
      margin-left: 15px; }
  .product__info__main .product-reviews-summary {
    padding: 3px 0 0;
  }
    .product__info__main .product-reviews-summary .rating-summary {
      margin-right: 8px; }
  .product__info__main .product-reviews-summary .rating-summary li i {
    color: #e59285;
    font-size: 18px;
    margin-right: 4px;
  }
    .product__info__main .product-reviews-summary .reviews-actions a {
      color: #858484;
      font-size: 12px;
      transition: 0.4s; }
      .product__info__main .product-reviews-summary .reviews-actions a + a {
        border-left: 1px solid #858484;
        padding-left: 6px;
        margin-left: 5px; }
      .product__info__main .product-reviews-summary .reviews-actions a:hover {
        color: #e59285; }
  .product__info__main .price-box {
    margin: 15px 0 20px;
  }
  .product__info__main .price-box span {
    color: #333;
    display: block;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .product__info__main .product-color-label span {
    font-size: 14px;
    font-weight: 500;
    display: block; }
  .product__info__main .product-color-label .color__attribute {
    margin-top: 10px; }
    .product__info__main .product-color-label .color__attribute .swatch-option {
      border: 1px solid #dadada;
      cursor: pointer;
      float: left;
      height: 20px;
      margin: 0 10px 5px 0;
      max-width: 90px;
      min-width: 30px;
      overflow: hidden;
      padding: 1px 2px;
      position: relative;
      text-align: center;
      text-overflow: ellipsis; }
  .product__info__main .box-tocart {
    margin: 0;
    margin-bottom:25px;}
    .product__info__main .box-tocart span {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 40px;
      margin: 0 10px 0 0;
      text-transform: capitalize; }
    .product__info__main .box-tocart .input-text {
      border: 1px solid #ebebeb;
      color: #616161;
      font-size: 14px;
      height: 40px;
      text-align: center;
      width: 100px;
      margin: 0 15px 15px 0; }
  .product__info__main .box-tocart .addtocart__actions .tocart {
    background: #e59285 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    text-transform: uppercase;
  }
  .product__info__main span.posted_in {
    color: #353535;
    font-size: 14px;
    font-weight: 500;
  }
  .product__info__main .product-share > ul li {
    color: #353535;
    display: inline-block;
    font-weight: 600;
    margin-right: 14px;
    text-align: center;
  }
  .product__info__main .product-share > ul li a {
    border: 1px solid #3f3f3f;
    border-radius: 50px;
    color: #353535;
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 30px;
    line-height:32px;
  }
  .product__info__main .product-share {
    margin-top: 15px;
  }
  .product__info__detailed {
    margin-top: 25px;
  }
      .product__info__main .box-tocart .addtocart__actions .tocart:hover {
        background-color: #e59285;
        border-color: #e59285; }
  .product__info__main .product-addto-links a {
    border: 2px solid #ebebeb;
    border-radius: 100%;
    float: left;
    font-size: 0;
    height: 40px;
    line-height: 36px;
    margin-left: 7px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 40px; }
    .product__info__main .product-addto-links a.wishlist {
      background: #ffffff url("../../image/icons/product-info.png") no-repeat scroll 0 0; }
    .product__info__main .product-addto-links a.compare {
      background: #ffffff url("../../image/icons/button-compare.png") no-repeat scroll 0 0; }
    .product__info__main .product-addto-links a.email {
      background: #ffffff url("../../image/icons/button-email.png") no-repeat scroll 0 0; }
    .product__info__main .product-addto-links a:hover {
      background-color: #e59285;
      background-position: 100% center;
      border-color: #e59285; }
  .product__info__main .product__overview {
    border-top: 1px solid #ebebeb;
    clear: both;
    line-height: 24px;
    margin: 20px 0 0;
    padding: 30px 0; }
   .product__info__main .product__overview p {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .product__info__main .product__overview .pro__attribute li {
    color: #333;
    font-size: 14px;
    font-weight: 400;
  }

  .product__info__detailed .pro_details_nav {
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 25px; }
    .product__info__detailed .pro_details_nav a.nav-item {
      border: 0 none;
      color: #777;
      font-size: 14px;
      font-weight: 700;
      height: 46px;
      line-height: 46px;
      position: relative;
      text-transform: uppercase;
      padding: 0; }
      .product__info__detailed .pro_details_nav a.nav-item + .nav-item {
        margin-left: 38px; }
      .product__info__detailed .pro_details_nav a.nav-item::after {
        background: #2e2e2e none repeat scroll 0 0;
        bottom: -2px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.3s ease-in-out 0s;
        width: 0; }
      .product__info__detailed .pro_details_nav a.nav-item.active::after, .product__info__detailed .pro_details_nav a.nav-item:hover::after {
        width: 100%; }
      .product__info__detailed .pro_details_nav a.nav-item.active, .product__info__detailed .pro_details_nav a.nav-item:hover {
        color: #333; }
  .product__info__detailed .description__attribute p {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .product__info__detailed .description__attribute ul li {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  .product__info__detailed .review__attribute h1 {
    font-size: 33px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 2rem;
  }
  .product__info__detailed .review__attribute h2 {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.1;
    margin: 0 0 30px;
  }
  .product__info__detailed .review__attribute .review__ratings__type .review-ratings .rating-summary {
    margin-bottom: 5px; }
    .product__info__detailed .review__attribute .review__ratings__type .review-ratings .rating-summary span {
      display: inline-block;
      line-height: 28px;
      padding: 0 10px 0 0; }
    .product__info__detailed .review__attribute .review__ratings__type .review-ratings .rating-summary .rating li i {
      color: #ff5501;
      font-size: 18px;
      height: 28px;
      line-height: 28px; }
    .product__info__detailed .review__attribute .review__ratings__type .review-ratings .rating-summary .rating li.off i {
      color: #c7c7c7; }
  .product__info__detailed .review__attribute .review__ratings__type .review-content {
    margin-left: 130px; }
    .product__info__detailed .review__attribute .review__ratings__type .review-content p {
      line-height: 24px;
      font-size: 12px;
      color: #333; }
  .product__info__detailed .review-fieldset {
    border-top: 1px solid #c9c9c9;
    margin-top: 34px;
    padding-top: 72px; }
    .product__info__detailed .review-fieldset h2 {
      color: #333;
      font-size: 2rem;
      line-height: 1.2;
      font-weight: 400; }
    .product__info__detailed .review-fieldset h3 {
      margin-bottom: 30px;
      font-size: 2rem;
      line-height: 1.2;
      color: #333;
      margin-bottom: 30px;
      font-weight: 400; }
    .product__info__detailed .review-fieldset .review-field-ratings .label span {
      color: #333;
      display: inline-block;
      font-weight: 500;
      margin: 0 0 8px;
      font-size: 12px; }